body{ 
    background-image:linear-gradient(#423E61 ,#e8eeee );
    margin: 30px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.cabecalho{
    background-color: rgb(251, 252, 253);
    display: flex;
    justify-content:space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align:center;
}

.cabecalho-imagem{
    width: 15%;
    margin: 10px 10px;
}

.lista-item {
    display: flex;
    margin: 10px 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.colegio{
    justify-content:space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align:center;
}

.colegiotexto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.Fachadamachado { 
    width: 40%;
    margin: 10px 10px;

}

.rodape{
    background-color: #859999;
    display: flex;
    justify-content:space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align:center;
}

.icones{
    width: 30px;
    margin: 10px 10px;
}

.icones-informação-div{
    display: flex;
    justify-content:space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align:center;
}